{% extends 'layouts/table.html' %}
{% load static %}
<!--Title-->
{% block tableTitle %} Kegiatan {% endblock%}
{% block itemCRUD %}
<!-- Add artikel Modal -->
{% include 'office/laporan/kegiatan/js_kegiatan.html' %}
{% if 4 in group_id %}
    <a class="btn btn-info"  data-toggle="modal" data-target="#addModal" id="addData" onclick="openAddModal('{{user.id}}','{{temp.upload_id}}')">
        <i class="fas fa-fw fa-plus"></i>
        <span>Tambah Data</span>
    </a>
{% endif %}
{% include 'office/laporan/kegiatan/add_kegiatan.html' %}

{% endblock%}
{% block itemTitle %}
<th>No</th>
<th>Foto</th>
<th>Nama</th>
<th>Tanggal</th>
<th>Status</th>
<th>Informasi</th>
<th>Petugas</th>
<th>Validator</th>
<th>Tanggal Dibuat</th>
<th>Tanggal Diubah</th>
<th>Opsi</th>
{% endblock%}
{% block itemData %}
<td>{{ forloop.counter }}</td>
<td>
    {%if i.foto%}
    <img src="{{i.foto.url}}" width="100" alt="{{i.foto}}">
    {% endif%}
</td>
<td>{{i.nama}}</td>
<td>{{i.tanggal}}</td>
<td>{% if i.validasi_id == 1 %}
    <span class="badge bg-success">Tervalidasi</span>    
    {% elif i.validasi_id == 2 %}
    <span class="badge bg-danger">Tidak Tervalidasi</span>    
    {% else %}
    <span class="badge bg-warning">Belum Tervalidasi</span>    
    {% endif%}
</td>
<td>{{i.info}}</td>
<td>{{ i.petugas.first_name}} {{ i.petugas.last_name}} </td>
<td>{{i.validator.first_name}} {{ i.validator.last_name}} </td>
<td>{{i.created_at}}</td>
<td>{{i.updated_at}}</td>
<!-- Edit kegiatan Modal -->
{% include 'office/laporan/kegiatan/edit_kegiatan.html' %}
<!-- Delete kegiatan Modal -->
{% include 'office/laporan/kegiatan/delete_kegiatan.html' %}


{% endblock%}
{% block update %}
  <button type="button" class="btn btn-warning"data-toggle="modal" id="editData" data-target="#updateModal{{i.id}}" onclick="openEditModal('{{ i.id }}','{{i.nama}}','{{i.tanggal}}','{{i.kegiatan|escapejs}}','{{i.upload}}','{{i.validasi_id}}','{{i.info}}','{{ i.petugas_id}}','{{user.id}}')" >
      <i class="fas fa-pencil-alt"></i>
  </button>
{% endblock%}

{% block delete %}
{% if 4 in group_id %}
<button type="button" class="btn btn-danger " data-toggle="modal" data-target="#deleteModal{{i.id}}">
    <i class="fas fa-trash-alt"></i>
</button>
{% endif %}
{% endblock%}
{% block JS %}

{% endblock%}
