{% load static %}

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
    <meta content="Bootstrap News Template - Free HTML Templates" name="description">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'ico/sibindu-white.min.png' %}" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome-free-6.6.0-web/css/all.min.css' %}">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bs-stepper/css/bs-stepper.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/lib/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'home/lib/slick/slick-theme.css' %}">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">


</head>