
{% load static %}

<nav class="main-header navbar navbar-expand-md navbar-light navbar-white" style="margin-left: auto; margin-top: 0%; ">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="/static/ico/sibindu.min.png" alt="AdminLTE Logo" width="60">
      <span class="brand-text font-weight-light" style="font-size: 150%;"><strong>SIBINDU</strong></span>
    </a>

    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <!-- Right navbar links -->

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- SEARCH FORM -->

      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <div class="row">
        <li class="nav-item col-sm-8">
          <form class="form-inline ml-0 ml-md-3">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search"
                aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              
            </div>
          </form>
        </li>
        <li class="nav-item col-sm-4" >
          <div type="button">
            <a class="btn-lg btn-danger " style="background-color: #A6192E;" href="{% url 'sibindu:login' %}">
                <span>Login</span>
            </a>
        </div>
        </li>
      </div>
      </ul>
    </div>

    <!-- Login -->

    </ul>
  </div>
</nav>
<nav class="main-header navbar navbar-expand-md navbar-light" style="margin-left: auto; background-color: #FAFAFA;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        {% for item in menu_home %}
        <li class="nav-item">
          <a href="{% url item.link %}" class="nav-link">
            <p class="brand-text">{{ item.nama }}</p>
          </a>
        </li>
        {% endfor %}
    </div>
  </div>
</nav>