{% load static %}

<div class="col-12 dropdown-menu dropdown-menu-lg dropdown-menu-right">

    <div class="card card-widget widget-user shadow">
        <div class="widget-user-header bg-info">
            <h2 class="widget-user-username" style="font-weight: bold ;">{{user.username}}</h2>
        </div>
        <div class="widget-user-image">
            <img class="img-circle elevation-2" src="{% static 'assets/dist/img/user2-160x160.jpg' %}"
                alt="User Avatar">
        </div>
        <div class="card-footer">
            <div class="row ">
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <div type="button">
                            <a class="btn btn-primary">
                                <i class=""></i>
                                <span>Profil</span>
                            </a>
                        </div>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->

                <!-- /.col -->
                <div class="col-sm-6">
                    <div class="description-block">
                        <div type="button">
                            <a class="btn btn-danger" href="{% url 'sibindu:logout' %}">
                                <i class=""></i>
                                <span>Keluar</span>
                            </a>
                        </div>
                    </div>
                    <!-- /.description-block -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        </div>

    </div>
</div>