{% load static %}
<!--Script Assets-->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'home/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'home/lib/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/plugins/fontawesome-free-6.6.0-web/js/all.min.js' %}"></script>
<!-- Template Javascript -->
<script src="{% static 'home/js/main.js' %}"></script>

<!-- BS-Stepper -->
<script src="{% static 'assets/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
