{% load static %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">{% block tableTitle %}{% endblock%}</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!-- Button trigger modal -->
        {% block itemCRUD %}
        {% endblock%}

        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% block itemTitle %}

                    {% endblock%}
                </tr>
            </thead>

            <tbody>
                {% block itemData%}
                
                {% endblock%}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!--Modals-->
{% block JS %}
{% endblock%}
{% endblock%}