<script>
  // update    
function openEditModal(id,{% for list in nama_tabel %}{{list}},{% endfor%}) {
var modalId = "#updateModal" + id;
var gejala_fields = [{% for list in nama_tabel %}'{{list}}',{% endfor%}]; 
console.log(gejala_fields);
var data=[{% for list in nama_tabel %}{{list}},{% endfor%}]
for(i=0;i<data.length;i++){
    $(modalId).find("#id_"+gejala_fields[i]).val(data[i]); //value dari gejala_values[i] berisi 0 semua.seharusnya disesuaikan dengan gejala_values
console.log('id_'+gejala_fields[i]+'='+data[i]);

} 
}
</script>
