{% extends 'layouts/base_general.html' %}
{% load static %}
{% block content %}
{% for list in about %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row wrapper">
                    <div class="col-sm-6">
                       
                        <h3>{{list.nama}}</h3>
                        <p>{{list.tentang}}</p>
                    </div>
                    <div class="col-sm-6">
                        <iframe
                            src="{{list.maps}}"width="900" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</div>
<!-- /.content -->
{% endfor %}
{% endblock%}